$features-title: #009b4d;
$inbox-title: #f1592b;
$communication-title: #0189d1;
$light-text: #2b292d99;
$default-text-color: #2b292d;
$blue-text: #3142c6;
$balloon: #2b292d33;
$balloon-selected: #3142c5;
$order-background: #f4f5f7;

$border: #e3e3e3;
$blue-border: #0185d0;

$inbox-bc-color: #fcf0e3;
