.custom-button {
  width: 200px;
  height: 50px;
  margin: 64px;

  background-color: coral;
  color: white;

  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;

  outline: none;
  border: none;
  cursor: pointer;
}

.bird-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white;
}

.custom-button:hover {
  color: darkcyan;
}

.custom-button:hover > .bird-icon {
  fill: green;
}
