* {
  box-sizing: border-box;
}

.block {
  text-transform: lowercase;
  font-family: Verdana;

  height: 200px;
  display: flex;
}

.block span {
  border-radius: 4px;
  background-color: #faebd7;
  padding: 8px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .container {
    display: flex;
  }

  .container .block {
    width: 50%;
  }

  .block {
    flex-grow: 1;
  }
}

@media screen and (min-width: 900px) {
  .main {
    display: flex;
    flex-grow: 1;
  }

  .container {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 200%;
  }

  .block {
    flex-shrink: 1;
    width: 50%;
  }
}

.first {
  background-color: #ff7f50;
}

.second {
  background-color: #006400;
}

.third {
  background-color: #0ff;
}
